.welTag{
    // padding-top: 58px;
    // padding-bottom: 13px;
}
.footerDiv{
    background-color: #bbbcd4;text-align: center;
}
.backImg{
    height: 42em;
    background-size: cover !important;
    width: auto;
}
.dd{
    color: #FD653E;
    font-size: 26px;
}



